node_modules/
.env

# Reports
allure-results/
allure-report/
playwright-report/
test-results/

# Logs
logs/
*.log

# Screenshots and videos
screenshots/
videos/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
